<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type=text/css th:href="@{css/webapp.css}">
    <title th:text="#{tab.title}">_offline_</title>
    <link rel="icon" th:href="@{/images/index.png}" href="../../images/index.png">
</head>
<body>

<br>
<!-- Error message when a wrong file is uploaded -->
<article class="extensionError">
    <h1> Error 415!</h1>
    <br>
    <p> Wrong file extension. Please upload a csv or text file. </p>
    <p> To go back to the upload data page click here:</p>
    <!--  Button to go back to the upload page  -->
    <button> <a th:href="@{/uploadFiles}" th:text="#{file}">Upload File</a></button>
</article>

</body>
</html>