<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type=text/css th:href="@{/css/webapp.css}">
    <title th:text="#{tab.title}">_offline_</title>
    <link rel="icon" th:href="@{/images/index.png}" href="../../images/index.png">
</head>
<body>

<!--Navigation menu-->
<ul class="navbar">
    <li><a class="active" th:href="@{home}">Home</a></li>
    <li><a th:href="@{map}" th:text="#{map}"></a></li>
    <li><a th:href="@{uploadFiles}" th:text="#{file}">Upload File</a></li>
</ul>

<!-- Info about the project -->
<article class="project">
    <p class="info home" th:utext="#{project.info}"></p>
</article>

<!-- Footer with contact information -->
<footer class="common_footer">
    <ul class="contact_info">
        <li>Carlijn Ruijter <br> <a href="mailto:c.ruijter@st.hanze.nl">c.ruijter@st.hanze.nl</a></li>
        <li>Zo&euml; Verstappen <br> <a href="mailto:z.a.verstappen@st.hanze.nl">z.a.verstappen@st.hanze.nl</a></li>
        <li th:text="#{school.info} + ', ' + #{institute.info}"></li>
    </ul>
</footer>

</body>
</html>