<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <style>
        html, body, #viewDiv {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
    </style>

    <!--  css files for styling  -->
    <link rel="stylesheet" href="https://js.arcgis.com/4.14/esri/css/main.css">
    <link rel="stylesheet" href="https://js.arcgis.com/4.14/esri/themes/dark/main.css">
    <link rel="stylesheet" type=text/css th:href="@{css/map.css}">

    <!--  Tab title and image  -->
    <title th:text="#{tab.title}">_offline_</title>
    <link rel="icon" th:href="@{/images/index.png}" href="../../images/index.png">

    <script src="https://js.arcgis.com/4.13/"></script>

    <script th:inline="javascript">
        require([
            "esri/Map", "esri/views/MapView", "esri/Basemap",
            "esri/layers/VectorTileLayer", "esri/request",
            "esri/layers/FeatureLayer", "esri/widgets/Legend",
            "esri/widgets/TimeSlider", "esri/widgets/Fullscreen",
            "esri/widgets/Home", "esri/widgets/Zoom",
            "esri/widgets/Expand"
        ], function(Map, MapView, Basemap,
                    VectorTileLayer, esriRequest,
                    FeatureLayer, Legend, TimeSlider,
                    Fullscreen, Home, Zoom, Expand) {
            // set a basemap with unique id, own made basemap
            let basemap = new Basemap({
                baseLayers: [
                    new VectorTileLayer({
                        portalItem: {
                            // id of the basemap
                            id: "6d9414e9b4474d6a8c7a47bd090b9365"
                        }
                    })
                ]
            });

            // build the map
            let map = new Map({
                // using own basemap
                basemap: basemap
            });

            // set the position of the map
            let view = new MapView({
                container: "viewDiv",
                map: map,
                center: [6.731560, 53.171191],
                ui: {
                    components: ["attribution"]
                },
                // zoom boundary
                constraints: {
                    minScale: 700000
                },
                popup: {
                    // close popup when view is changed
                    autoCloseEnabled: true
                },
                // color of the highlight when clicking on a farm
                highlightOptions: {
                    color: "#4883a6",
                    haloColor: "#4883a6"
                }
            });

            let options = {
                responseType: "json"
            };

            // list for all the data
            let features = [];
            // list for the data lines where contamination is true
            let trueFeatures = [];

            // list for the dates that will be used as stops on the time slider
            let dates = [];
            // map for the dates per farm where contamination is true
            let trueDates = {};

            // counter for the id of the object
            let objectID = 0;

            /*
            esri request for the data with a loop
            that will place every line of data
            in the features variable
            the list for the dates and map
            for the true dates are also made
            */
            esriRequest("/mapData", options).then(function(response) {
                let farmMeasurements = JSON.stringify(response, null, 2);
                // loop through every line of data
                response.data.forEach(farm => {

                    // set coordinates of the points
                    let geometry = {
                        type: "point",
                        x: parseFloat(farm.longitude),
                        y: parseFloat(farm.latitude)
                    };

                    // make the date field of type date
                    let date = Date.parse(farm.date);

                    // set a date without the time
                    let formatDate = new Date(farm.date).toLocaleDateString();

                    // attribute with the elements of the farm measurement
                    let attr = {
                        ObjectID: objectID,
                        farmID: farm.farmID,
                        latitude: farm.latitude,
                        longitude: farm.longitude,
                        date: date,
                        contamination: farm.contamination
                    };

                    // append the data to the features
                    features.push({
                        geometry: geometry,
                        attributes: attr
                    });

                    // only the data where contamination is true
                    if (farm.contamination) {
                        // data where contamination is true
                        trueFeatures.push({
                            geometry: geometry,
                            attributes: attr
                        });

                        // map for dates where contamination is true per date
                        if (farm.farmID in trueDates) {
                            trueDates[farm.farmID].push(formatDate);
                        } else {
                            trueDates[farm.farmID] = [formatDate];
                        }

                        // list of unique dates where contamination is true
                        if (!dates.includes(date)){
                            dates.push(date);
                        }
                    }

                    // increment the object ID with 1
                    objectID++;
                });

                // full screen
                let fullScreen = new Fullscreen({
                    view: view
                });
                view.ui.add(fullScreen, "top-right");

                // home button
                let home = new Home({
                    view: view
                });
                view.ui.add(home, "top-right");

                // zoom widget
                let zoom = new Zoom({
                    view: view
                });
                view.ui.add(zoom, "top-right");

                /*
                setting the labels for the
                multiple contents of the page
                to be internationalized
                */
                let dateLabel = /*[[#{date}]]*/ "";
                let farmID = /*[[#{farmID}]]*/ "";
                let longitude = /*[[#{longitude}]]*/ "";
                let latitude = /*[[#{latitude}]]*/ "";


                /*
                Making the popups and setting different contents
                Give the popup the function to show more results
                about the farm contamination and hide these results
                */
                // Makes the action symbol for the popup
                let popUpAction = {
                    title: /*[[#{ShowMore}]]*/ "",
                    id: "moreResults",
                    className: "esri-icon-plus-circled"
                };

                // Makes the action symbol for the popup
                let popUpActionHide = {
                    title: /*[[#{hide}]]*/ "",
                    id: "hideResults",
                    className: "esri-icon-minus-circled"
                };

                // Sets the action for showing more results in the popup
                view.popup.actions.push(popUpAction);

                // Function for showing content when clicked on icon show more results
                function moreResults() {
                    // delete more results action
                    view.popup.actions.pop();
                    // add action to hide information
                    view.popup.actions.push(popUpActionHide);

                    // get the farm ID of the point that is clicked
                    let farmID = view.popup.selectedFeature.attributes.farmID;

                    // set the title of the more results popup action
                    view.popup.title = /*[[#{moreResults_title}]]*/ "" + farmID;

                    // the minimum and maximum dates of the time slider
                    let minDate = new Date(Math.min.apply(null, dates)).toLocaleDateString();
                    let maxDate = new Date(Math.max.apply(null, dates)).toLocaleDateString();

                    // get the dates of contamination for the farm
                    if (trueDates[farmID]){
                        let content = "";
                        let i;
                        for(i = 0; i < trueDates[farmID].length; i++) {
                            let con = dateLabel + ": " + trueDates[farmID][i] + "<br>";
                            content += con;
                        }
                        // view the dates in the content of the popup
                        view.popup.content = content
                    } else {
                        // content when no contamination happened at the farm
                        let con = [[#{no_con_label}]];
                        let and = [[#{and}]];
                        view.popup.content = con + ' ' + minDate + ' ' + and + ' ' + maxDate;
                    }
                }

                // Function for showing content when clicked on icon hide results
                function hideResults(){
                    // delete the hide results action
                    view.popup.actions.pop();
                    // add action to popup to show more results
                    view.popup.actions.push(popUpAction);

                    // title for the popup showing the common information about the farm
                    view.popup.title = /*[[#{farm_info}]]*/ "";
                    // content with the common information
                    view.popup.content = farmID + view.popup.selectedFeature.attributes.farmID + "<br>" +
                        longitude + view.popup.selectedFeature.attributes.longitude + "<br>" +
                        latitude + view.popup.selectedFeature.attributes.latitude
                }

                // Execute functions when clicked on specific icon
                view.popup.on("trigger-action", function(event){
                    if(event.action.id === "moreResults"){
                        moreResults();
                    } else if(event.action.id === "hideResults"){
                        hideResults();
                    }
                });

                // the initial popup with common farm information
                let popupFarmHeads = {
                    "title": /*[[#{farm_info}]]*/ "",
                    "content": farmID + "{farmID}" + "<br>" + longitude +
                        "{longitude}" + "<br>" + latitude + "{latitude}"
                };


                /*
                Set the static feature layer that
                always show all the points and
                does not change depending on the
                time slider. This layer also contains
                all the popup function so that the
                popup is always available.
                */
                // symbol for all the farms by a farm logo
                let staticSymbol = {
                    type: "picture-marker",
                    url: "../../images/farm.png",
                    width: "18px",
                    height: "18px",
                    outline: {
                        width: 4
                    }
                };

                // renderer for static points
                let staticRenderer = {
                    type: "simple",
                    symbol: staticSymbol,
                    legendOptions :{
                        title: " "
                    },
                    label: /*[[#{false.label}]]*/ ""
                };

                // layer for static points of farms
                const staticLayer = new FeatureLayer({
                    source: features,
                    objectIdField: "farmID",
                    renderer: staticRenderer,
                    popupTemplate: popupFarmHeads,
                    // fields in the data to be used in other parts of the map
                    fields: [
                        {
                            name: "farmID",
                            type: "integer"
                        }, {
                            name: "contamination",
                            type: "string"
                        }, {
                            name: "date",
                            type: "date"
                        }, {
                            name: "longitude",
                            type: "string"
                        }, {
                            name: "latitude",
                            type: "string"
                        }]
                });
                map.add(staticLayer);


                /*
                The feature layer that depends
                on the time slider. The points
                are updated depending on the
                current date value of the slider
                */
                // the symbol for the dots showing infection
                let infectedFarmSymbol = {
                    type: "simple-marker",
                    size: 16,
                    color: [200, 0, 0, 0.4],
                    outline: null
                };

                // renderer for the time slider layer
                let infectedFarmRenderer = {
                    type: "simple",
                    symbol: infectedFarmSymbol,
                    legendOptions :{
                        title: " "
                    },
                    label: /*[[#{true.label}]]*/ ""
                };

                // the infected farms layer with only the points showing where contamination happened
                const farmFeatureLayer = new FeatureLayer({
                    source: trueFeatures,
                    renderer: infectedFarmRenderer,
                    objectIdField: "ObjectID",
                    timeInfo: {
                        startField: "date"
                    },
                    // fields in the data to be used in other parts of the map
                    fields: [
                        {
                            name: "ObjectID",
                            type: "oid"
                        }, {
                            name: "farmID",
                            type: "integer"
                        }, {
                            name: "contamination",
                            type: "string"
                        }, {
                            name: "date",
                            type: "date"
                        }]
                });
                map.add(farmFeatureLayer);

                /*
                The legend for the map
                showing the difference
                between the farms contaminated
                and uncontaminated.
                */
                const legend = new Legend({
                    view: view,
                    layerInfos: [{
                        layer: staticLayer, title: ""},{
                        layer: farmFeatureLayer,
                        title: /*[[#{legend.title}]]*/ ""
                    }]
                });

                // make a button to show or hide the legend
                const expandLegend = new Expand({
                    content: legend,
                    view: view,
                    expanded: true
                });
                view.ui.add(expandLegend, "top-left");

                /*
                Setting the time slider and
                make it interact with the infected farm
                layer to correctly display the points
                according to the current date value
                of the time slider.
                */
                // the set up of the time slider
                let timeSlider = new TimeSlider({
                    container: "timeSlider",
                    view: view,
                    playRate: 1500,
                    loop: false,
                    mode: "cumulative-from-start"
                });
                view.ui.add(timeSlider, "manual");

                // conforming to date format that can be used for time slider stops
                let contaminationDates = [];
                dates.forEach(date => {
                    date = new Date(date);
                    contaminationDates.push(date);
                });

                let layerView;
                // setting the elements of the time slider
                view.whenLayerView(farmFeatureLayer).then(function(lv){
                    layerView = lv;

                    // total time of slider is full time extent of the data from the layer
                    const fullTimeExtent = farmFeatureLayer.timeInfo.fullTimeExtent;
                    // start point of the slider
                    const start = fullTimeExtent.start;

                    // total time extent of the slider
                    timeSlider.fullTimeExtent = fullTimeExtent;
                    // value of the slider when opening the map is the start of the slider
                    timeSlider.values = [start];
                    // stops of the slider are the dates when contamination is true
                    timeSlider.stops = {
                        dates: contaminationDates
                    };
                });


                // watch the time extent of the timeslider and append data according to the current data
                timeSlider.watch("timeExtent", function(value){
                    layerView.filter = {
                            timeExtent: value
                        };
                });
            });
        });

    </script>
</head>
<body>
<!--the menu bar-->
<ul class="navbar map">
    <li><a th:href="@{home}">Home</a></li>
    <li><a class="active" th:href="@{map}" th:text="#{map}">Map</a></li>
    <li><a th:href="@{/uploadFiles}" th:text="#{file}">Upload File</a></li>
</ul>

<div id="applicationDiv">
    <div id="viewDiv">
        <div id="timeSlider"></div>
    </div>
</div>

<!--the footer with the contact information-->
<footer class="common_footer map_footer">
    <ul class="contact_info">
        <li>Carlijn Ruijter <br> <a href="mailto:c.ruijter@st.hanze.nl">c.ruijter@st.hanze.nl</a></li>
        <li>Zo&euml; Verstappen <br> <a href="mailto:z.a.verstappen@st.hanze.nl">z.a.verstappen@st.hanze.nl</a></li>
        <li th:text="#{school.info} + ', ' + #{institute.info}"></li>
    </ul>
</footer>
</body>
</html>