<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type=text/css th:href="@{css/webapp.css}">
    <title th:text="#{tab.title}">_offline_</title>
    <link rel="icon" th:href="@{/images/index.png}" href="../../images/index.png">
</head>
<body>

<!--Navigation menu-->
<ul class="navbar">
    <li><a th:href="@{home}">Home</a></li>
    <li><a th:href="@{map}" th:text="#{map}"></a></li>
    <li><a class="active" th:href="@{uploadFiles}" th:text="#{file}">Upload File</a></li>
</ul>


<article>
    <!--  Info about the upload form  -->
    <p class="info" th:utext="#{page.info}"></p>

    <br>
    <!--  The form where a new file can be uploaded  -->
    <form class="uploadFile" method=POST action="/uploadFiles" enctype="multipart/form-data">
        <input type="file" id="file-button" hidden="hidden" name="myFile" accept=".txt, .csv">
        <button type="button" class="custom-button" id="custom-button" th:text="#{file.button}">Choose a file</button>
        <span id="custom-text" th:text="#{file.button.text}">No file chosen</span><br><br>
        <button class="custom-button" type="submit" th:text="#{upload.button}">Upload</button>

        <!-- Change the text displaying according to if a file is uploaded or not -->
        <script type="text/javascript">
            const fileButton = document.getElementById("file-button");
            const customButton = document.getElementById("custom-button");
            const customText = document.getElementById("custom-text");

            // make the button become clickable for getting a file
            customButton.addEventListener("click", function() {
                fileButton.click();
            });

            // change the text depending on if a file is chosen
            fileButton.addEventListener("change", function() {
                if (fileButton.value) {
                    customText.innerHTML = fileButton.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
                } else {
                    customText.innerHTML = "No file chosen"
                }
            })
        </script>
    </form>

</article>

<!-- Footer with contact information -->
<footer class="common_footer">
    <ul class="contact_info">
        <li>Carlijn Ruijter <br> <a href="mailto:c.ruijter@st.hanze.nl">c.ruijter@st.hanze.nl</a></li>
        <li>Zo&euml; Verstappen <br> <a href="mailto:z.a.verstappen@st.hanze.nl">z.a.verstappen@st.hanze.nl</a></li>
        <li th:text="#{school.info} + ', ' + #{institute.info}"></li>
    </ul>
</footer>
</body>
</html>