form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    width: 500px;
    height: 200px;
    background-color: #D3D3D3;
}
form p{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 170px;
}

form input{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    color: #D3D3D3;
}
form button{
    margin: 0;
    color: #D3D3D3;
    background: #242424;
    border: none;
    width: 508px;
    height: 35px;
    margin-top: -20px;
    margin-left: -4px;
    border-radius: 4px;
    transition: all .2s ease;
    outline: none;
}
form button:hover{
    background: #111111;
}
form button:active{
    border:0;
}



