/*
 * DOCUMENT INFORMATION
 * Document= Styling of the HTML5 page template
 * Author= Zoe Verstappen & Carlijn Ruijter
 * Project = Thema opdracht 10
*/

html, head, body{
	margin:0;
	font-family: Verdana, sans-serif;
    font-weigt: bold;
	background-color: #e9e9e9;
}

.navbar {
	list-style-type: none;
	position: fixed;
	top: 0;
	width: 100%;
    margin: 0;
	padding-left: 60px;
	overflow: hidden;
	background-color: #242424;
}

.navbar li {
	float: left;
}

.navbar li a {
	display: block;
	color: #797979;
	padding: 16px 20px 16px 0px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    color: #FFFFFF;
}

.map{
	position: relative;
}

.active{
	/*background-color: #141414;*/
    color: #ebebeb;
}

article {
	 padding-top: 60px;
	 padding-left: 60px;
	background-color: #e9e9e9;
 }


.extensionError{
	padding-top: 10px;
	border-style: solid;
	border-width:10px;
	border-color: #FFFFFF;
	background: white;
}

#applicationDiv{
	width: 100%;
	height: 100%;
}

#viewDiv{
	width: 100%;
	height: 100%;
}

#timeSlider{
	position: -webkit-sticky;
	width: 100%;
	bottom: 0;
}

/*Gives the footer of the map page its layout and styling*/
.common_footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #D3D3D3;
	padding-left: 30px;
	/*padding-bottom: 10px;*/
	font-size: 10px;
	padding-bottom: 7px;
	padding-top: 3px;
}

.map_footer {
    position: relative;
	padding-bottom: 30px;
}


.contact_info li {
    float: left;
    list-style-type: none;
    padding-right: 80px;
    text-align: left;
    color: #232323;
}

.contact_info a {
    color: #232323;
    text-decoration: none;
}

.contact_info a:hover {
    color: #ffffff;
}

.info {
    padding-top: 25px;
    color: #212121;
    font-size: 15px;
    width: 500px;
}

.custom-button {
    padding: 15px;
    color: #212121;
    background-color: #D3D3D3;
    /*border: 1px solid #000;*/
    border-radius: 5px;
    cursor: pointer;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.custom-button:hover {
    background-color: #bfbfbf;
}

#custom-text {
    margin-left: 10px;
    color: #838383
}